* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212333;
  color: #cfcfd3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.5;
}

.link {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
  background-color: #e0c8fe;
  border: 1px solid #e0c8fe;
  color: #161419;
  transition: unset;
  transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #bb86fc;
  border: 1px solid #bb86fc;
}

.btn-secondary {
  background-color: transparent;
  color: #bb86fc;
  border: 1px solid #bb86fc;
  transition: unset;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #bb86fc;
  color: #161419;
}

.btn-md {
  padding: 1.2rem 2.4rem;
}

.btn-sm {
  padding: 0.6em 1.8rem;
}

.btn-round-edge {
  border-radius: 4px;
}

.btn-round {
  border-radius: 100%;
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.input-field--number-no-arrows::-webkit-outer-spin-button,
.input-field--number-no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field--number-no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-field {
  font-size: 1.6rem;

  padding: 1rem 0.8rem;
  border: 1px solid #cfcfd3;
  border-radius: 0.4rem;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0);

  background-color: #1f2130;
  color: #cfcfd3;

  transition: all 0.2s ease-in;
  outline: none;
}

.input-field:focus {
  box-shadow: 0 1px 8px rgba(255, 255, 255, 0.25);
}

.input-field:disabled {
  background-color: #e9e9e9;
  color: #777;
}

@media (max-width: 35em) {
  .body-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 22em) {
  .button-md {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 18em) {
  .button-md {
    padding: 0.8rem 1.6rem;
  }
}
